header { 
  background-color: #99ffce;
  overflow: hidden;
}

header nav { 
  float: left;
  width: 100%;
  position: relative;
}

header nav ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

header nav ul li { 
  float: left;
  position: relative;
  right: 50%;
  display: block;
  font-family: "Tatras Shaded";
}

